{% extends 'base.html' %}

<!-- AGREGO EL TITULO DEL TEMPLATE-->
{% block titulo %}
	{{ object.titulo }}
{% endblock %}

{% block contenido %}
	<div class="row cuerpo item text-white rounded post-mostrar">
		<div class="col-12">
			<h1 class="mt-4 mb-2">{{ object.titulo }}</h1>
		</div>

		<div class="col-12 mb-4">
			<small>Post creado por {{ object.usuario.username }}</small>
		</div>

		<div class="col-12 mb-4">
			{{ object.contenido|safe }}
		</div>
		<div class="col-12 mb-4">
			{% if object.portada %}
				<img src="{{object.portada.url}}" width="200" height="200" >
			{% else %}
				<p>NO EXISTE IMAGEN AUN</p>
			{% endif %}
		</div>
		<div class="col-12 mb-4">
			<a href="{% url 'EditarPost' post.id %}" class="btn btn-primary btn-lg">Editar</a>
		</div>

		<div class="col-12 mb-4">
			<form method="post" action="{% url 'EliminarPost' post.id %}">{% csrf_token %}
				<button type="submit" value="Confirm">ELIMINAR</button>
			</form>
		</div>

		<div class="col-12 mb-4">
			<form method="post" action="{% url 'like_post' post.id %}">
				{% csrf_token %}
				<button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like</button> - {{ total_likes }} Likes
			</form>
		</div>

	</div>


	<hr>
	<div class="card">
		<div class="card-body">
			<p class="card-text">ACA VA UN card CON UN MINI PERFIL DEL CREADOR DEL POST</p>
		</div>
	</div>
	<hr>


	<br/>
	<div class="col-12 mb-4">
			<a href="{% url 'PosteosRecientes' %}" class="btn btn-secondary btn-lg">Volver</a>
	</div>
	<br/>


	<hr>
	<div class="card">
		<h2>COMENTARIOS</h2>
		<br/>
		{% if not post.commentsPost.all %}
			No hay comentarios aún.
			
		{% else %}
			{% for comment in post.commentsPost.all %}
		        	<small><strong>{{ comment.usuario.username }} - {{ comment.fecha_creacion }}</strong></small>
		        	<br/>
		        	{{ comment.contenido|linebreaks }}
			{% endfor %}
		{% endif %}
		<div class="text-center mb-4 mt-4">
				<a href="{% url 'CrearComentario' post.pk %}" class="boton-naranja btn btn-danger">Comentar</a>
		</div>
	</div>
	<hr>
	
{% endblock %}